:root {
	--text-color: #1D3557;
	--background-color: #F1FAEE;
	--accent-color-1: #A8DADC;
	--accent-color-2: #457B9D;
	--accent-color-3: #E63946;
	font-size: 16px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
	display: flex;
	border-radius: 10px;
	margin: 50px;
	filter: drop-shadow(2rem 2rem 1rem darkgray)
}

img {
	width: 100%;
	border-top-left-radius: 2vw;
	border-bottom-left-radius: 2vw;
}

.photo {
	position: relative;
	text-align: center;
	color: var(--background-color);
	max-width: 40%;
}

.title {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	background-color: #1D355799 ;
	width: 100%;
	font-size: 4.5vw;
	padding-top: 10px;
	padding-bottom: 10px;
}

.credits {
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%,-50%);
	color: var(--accent-color-1);
	background-color: #1D355799 ;
	width: 100%;
	font-size: 1.5vw;
}

.credits a {
	text-decoration: none;
	color: var(--accent-color-1);
}

.contents {
	background-color: var(--background-color);
	width: 60%;
	border-top-right-radius: 2vw;
	border-bottom-right-radius: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.row-1, .row-2, .row-3 {
	display: flex;
	padding: 1vw;
	margin: 1vw;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

fieldset {
	border: none;
}

.form-contents {
	border: solid var(--accent-color-2) 1px;
	border-radius: 1vw;
}