:root {
	--body-color: #DEE2E2;
	--text-color: #080D08;
	--accent-color-1: #37331C;
	--accent-color-2: #9AA0A6;
	--accent-color-3: #652120;
	font-size: 16px;
	font-size: 1vw;
}

body {
	margin: 0px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
}

.flexbox-container {
	display: flex;
	flex-direction: row;
}

img {
	max-width: 100%;
}

.image {
	width: 34%;
}

.content {
	width: 67%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	font-size: calc(12px + (18 - 16) * ((100vw - 400px) / (550 - 200)));
}

.form {
	border: solid 2px var(--accent-color-2);
	border-radius: 10px;
	background-color: var(--body-color);
}

legend {
	color: var(--accent-color-1);
}

.form-divider {
	display: flex;
	padding: 3vw;
}

.column1,.column2 {
	display: flex;
	flex-direction: column;
	padding: 2vw;
	justify-content: space-between;
}

.input {
	display: flex;
	justify-content: space-between;
}

.create {
	display: flex;
}

.button {
	background-color: var(--accent-color-3);
	border: none;
	border-radius: 5px;
	color: var(--body-color);
	padding: 12px 32px;
	text-align: center;
	display: flex;
	align-self: end;
	justify-content: center;
}

.already {
	color: var(--accent-color-2);
}

a {
	color: var(--accent-color-3);
	text-decoration: none;
}